# -------------------------
# Node / React / Vite
# -------------------------
node_modules/
dist/
build/
*.local
.vite/
.vite-cache/
vite.config.ts.timestamp*
vite.config.js.timestamp*

# npm / yarn / pnpm lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# -------------------------
# Docker
# -------------------------
/pgdata
*.pid
*.log
*.sock
docker-compose.override.yml

# -------------------------
# VS Code / IDEs
# -------------------------
.vscode/
.vscode-test/
*.code-workspace
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------
# OS / Misc
# -------------------------
.DS_Store
Thumbs.db
